<header id="header" tuiNavigationHeader>
  <button
    iconStart="@tui.layout-grid"
    (click)="expanded = !expanded"
    tuiIconButton
  >
    Menu
  </button>

  <span tuiNavigationLogo>
    <span>{{ title }}</span>
  </span>

  <hr />

  <button iconStart="@tui.sun" tuiIconButton>Change Theme</button>
  <button iconStart="@tui.bell" tuiIconButton>
    Notifications
    <!-- <tui-badge-notification>1
  </tui-badge-notification> -->
  </button>
  <button
    routerLink="profile"
    appearance="secondary"
    iconStart="@tui.user"
    tuiButton
  >
    {{ full_name | titlecase }}
  </button>
</header>

<div id="container" [style.display]="'flex'">
  <aside [tuiNavigationAside]="expanded" class="aside">
    <header>
      <button
        routerLink="/dashboard"
        iconStart="@tui.home"
        [routerLinkActiveOptions]="{ exact: true }"
        tuiAsideItem
      >
        <span tuiFade>Dasboard</span>
      </button>
    </header>

    <button routerLink="users" iconStart="@tui.users" tuiAsideItem>
      <span tuiFade>Users</span>
    </button>

    <button iconStart="@tui.search" tuiAsideItem>
      <span tuiFade>Search</span>
    </button>

    <button iconStart="@tui.heart" tuiAsideItem>
      <span tuiFade>Favorite</span>
    </button>

    <button iconStart="@tui.pie-chart" tuiAsideItem>
      <span tuiFade>Charts</span>
    </button>

    <hr />
    <button iconStart="@tui.plus" tuiAsideItem><span tuiFade>Add</span></button>
    <footer>
      <button routerLink="profile" iconStart="@tui.user" tuiAsideItem>
        <span tuiFade>Profile</span>
      </button>
      <button iconStart="@tui.settings" tuiAsideItem>
        <span tuiFade>Settings</span>
      </button>
      <button
        tuiAsideItem
        [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="expanded = !expanded"
      >
        <span tuiFade>{{ expanded ? 'Collapse' : 'Expand' }}</span>
      </button>
    </footer>
  </aside>

  <tui-scrollbar [hidden]="false">
    <main id="main" tuiNavigationMain>
      <router-outlet />
    </main>
  </tui-scrollbar>
</div>
