#header {
  height: calc(var(--tui-height-m) + 0.25rem);
  background-color: var(--tui-background-accent-1);

  & button {
    max-width: none;
  }
}

#container {
  height: calc(100vh - var(--tui-height-m) - 0.25rem);
  background-color: #f5f6f6;
}

#main {
  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
  overflow-y: auto;
}

#main::-webkit-scrollbar {
  width: 0;
}

.aside {
  background-color: var(--tui-background-accent-1);
}

:host {
  --tui-shadow-small: 0 0.125rem 0.25rem rgba--tui-background-accent-1;
}

@media (min-width: 768px) {
  #header {
    font: var(--tui-font-text-m);
    height: calc(var(--tui-height-l) + 0.25rem);
  }

  #container {
    font: var(--tui-font-text-m);
    height: calc(100vh - var(--tui-height-l) - 0.25rem);
  }

  aside {
    [tuiButton][data-size="s"]:not([tuiIconButton][data-appearance="icon"]):not(
        [tuiIconButton][data-appearance="link"]
      ):before {
      font-size: 1.2rem;
    }

    button {
      font: var(--tui-font-text-m);
      --t-size: var(--tui-height-m);
      --t-radius: var(--tui-radius-m);
    }
  }
}
