#header {
  height: calc(var(--tui-height-m) + 0.25rem);
  background-color: var(--tui-background-accent-1);
}

#container {
  height: calc(100vh - var(--tui-height-m) - 0.25rem);
  background-color: #f5f6f6;
}

#main {
  padding: 0;
  overflow-y: auto;
  margin: 2.5rem;
}
.aside {
  background-color: var(--tui-background-accent-1);
}

:host {
  --tui-shadow-small: 0 0.125rem 0.25rem rgba--tui-background-accent-1;
}
