<div tuiCardLarge id="profile-card" tuiSurface="elevated">
  <div tuiCardLarge tuiTheme="dark" id="bg-user"></div>

  <div id="card-up" class="flex flex-col items-center md:items-start">
    <tui-avatar id="avatar" size="xxl" src="{{ name | avatarText }}" />

    <div
      id="prof-header"
      class="w-full gap-4 flex flex-col md:flex-row justify-center md:justify-between items-center"
    >
      <div class="gap-4 md:gap-8 flex flex-col md:flex-row items-center">
        <h2 tuiTitle="m" class="flex flex-col items-center md:items-start">
          {{ name | titlecase }}
          <div tuiSubtitle>{{ username | username }}</div>
        </h2>
        <div class="flex gap-1 md:gap-2">
          <tui-chip
            *ngFor="let r of roles"
            appearance="{{ r | roleAppearance }}"
            size="s"
            class="tui-space_right-1"
          >
            {{ r }}
          </tui-chip>
        </div>
      </div>

      <div class="flex gap-2 w-full md:w-auto flex-col md:flex-row">
        <button
          tuiButton
          (click)="showUpdateInfoDialog()"
          appearance="secondary"
          size="m"
        >
          update info
        </button>
        <button
          tuiButton
          (click)="showChangePassDialog()"
          appearance="secondary"
          size="m"
        >
          change password
        </button>
        <button
          tuiButton
          (click)="showLogoutDialog()"
          appearance="destructive"
          size="m"
        >
          logout
        </button>
      </div>
    </div>

    <div
      class="flex flex-col md:flex-row w-full h-full gap-8 items-stretch justify-center"
    >
      <a class="info-card" href="/docs" target="_blank">
        <img alt="Documentation" src="/doc.svg" tuiSlot="top" />
        <h4>Documentation</h4>
        learn more about the app and how to use it
      </a>

      <a class="info-card" href="{{ github_repo }}" target="_blank">
        <img alt="Repository" src="/repo.svg" tuiSlot="top" />
        <h4>Repository</h4>
        view the source code of the app and contribute to its improvement
      </a>

      <a class="info-card" href="/support" target="_blank">
        <img alt="support" src="/support.svg" tuiSlot="top" />
        <h4>Support</h4>
        get help from the community and the developers
      </a>
    </div>
  </div>
</div>
