<div tuiCardLarge id="import-card" tuiSurface="elevated">
  <section class="h-full flex flex-col md:flex-row divide-y md:divide-x">
    <!-- aside -->
    <tui-scrollbar class="h-full w-full md:w-1/4">
      <section id="import-aside" class="p-6" id="import-aside">
        <label
          class="flex flex-col items-center justify-center"
          *ngIf="!control.value"
          tuiInputFiles
          [style.height]="isEmptyItems() ? '100%' : 'auto'"
          [style.paddingBlock]="isEmptyItems() ? '1rem' : 'auto'"
        >
          <tui-block-status [hidden]="!isEmptyItems()">
            <img
              alt="not found"
              src="/upload.svg"
              tuiSlot="top"
              class="image"
            />

            <h5>Not found</h5>

            Try to upload a file
          </tui-block-status>
          <input [accept]="file_type" tuiInputFiles [formControl]="control" />
        </label>

        <tui-files class="tui-space_bottom-4">
          <tui-file
            *ngIf="loadedFiles$ | async as file"
            [file]="file"
            (remove)="removeFile()"
          />

          <tui-file
            *ngIf="failedFiles$ | async as file"
            state="error"
            [file]="file"
            (remove)="removeFile()"
          />

          <tui-file
            *ngIf="loadingFiles$ | async as file"
            state="loading"
            [file]="file"
            (remove)="removeFile()"
          />
        </tui-files>

        <tui-elastic-container class="w-full">
          @for (item of items; let index = $index; track item) {
          <div class="w-full py-2 border-t">
            <div class="py-1 w-full flex flex-row items-center justify-between">
              <button
                class="flex flex-row items-center"
                (click)="item.expanded = !item.expanded"
              >
                <button
                  appearance="flat"
                  size="s"
                  tuiIconButton
                  class="tui-space_right-2"
                  [tuiChevron]="item.expanded"
                  (click)="item.expanded = !item.expanded"
                >
                  Expand
                </button>
                <p tuiFade tuiHint="{{ item.title }}" tuiHintAppearance="dark">
                  {{ item.title }}
                </p>
              </button>
              <button
                appearance="flat"
                iconStart="@tui.menu"
                size="s"
                type="button"
                tuiIconButton
                [tuiDropdown]="dropdownOption"
                [tuiDropdownManual]="item.dropdown"
                [tuiObscuredEnabled]="item.dropdown"
                (click)="item.dropdown = !item.dropdown"
                (tuiActiveZoneChange)="onActiveZone($event, index)"
                (tuiObscured)="onObscured($event, index)"
              >
                more
              </button>
              <ng-template #dropdownOption>
                <button
                  appearance="flat"
                  iconStart="@tui.trash"
                  size="s"
                  tuiButton
                  (click)="remove(index)"
                >
                  Remove
                </button>
              </ng-template>
            </div>
            <tui-expand [expanded]="item.expanded">
              <ul class="list-outside list-disc">
                <li
                  class="text-neutral-500"
                  *ngFor="let i of item.value | keyvalue"
                >
                  {{ i.key }}: {{ i.value }}
                </li>
              </ul>
            </tui-expand>
          </div>
          }
        </tui-elastic-container>
      </section>
    </tui-scrollbar>

    <!-- main -->
    <section>main</section>
  </section>
</div>
