#import-card {
  height: 100%;
  padding: 0;
  border-radius: 0;
  // font: var(tui-text_body-s);

  #import-aside {
    overflow-y: hidden;
    width: 30rem;
  }
}

.image {
  width: 15rem;
  height: 15rem;
}

div:has(> #import-aside) {
  height: 100%;
}

.key::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 9px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #69b6d5;
}
