<form id="edit_form" [formGroup]="edit_form">
  <div class="tui-col_12">
    <h3 tuiTitle="m">
      Edit User
      <p tuiSubtitle>Edit user information and update access methods</p>
    </h3>
    <div class="tui-space_top-5 tui-space_bottom-5">
      <div class="tui-form__row">
        <p>
          <tui-input id="firstName" formControlName="firstName">
            First Name
          </tui-input>
        </p>
      </div>

      <div class="tui-form__row">
        <p>
          <tui-input id="lastName" formControlName="lastName">
            Last Name
          </tui-input>
        </p>
      </div>

      <div class="tui-form__row">
        <p>
          <tui-input id="email" formControlName="email"> Email </tui-input>
        </p>
      </div>
    </div>
    <button
      tuiButton
      (click)="submit()"
      type="submit"
      size="m"
      [disabled]="edit_form.invalid"
      appearance="primary"
    >
      Edit User
    </button>
  </div>
</form>

<form id="role_form" class="tui-space_top-9" [formGroup]="role_form">
  <div class="tui-col_12">
    <h3 tuiTitle="m">
      Edit Roles
      <p tuiSubtitle>Edit user roles</p>
      <p tuiSubtitle *ngIf="!roles || roles.length === 0" [style.color]="'red'">
        Error on fetch roles
        <button
          tuiButton
          size="s"
          appearance="destructive"
          iconStart="@tui.rotate-ccw"
          (click)="fetchRoles()"
        >
          Try Again
        </button>
      </p>
    </h3>
    <div class="tui-space_top-5 tui-space_bottom-5">
      <tui-filter
        formControlName="roles"
        [items]="roles"
        size="m"
        (toggledItem)="onToggledRoleItemChange($event)"
      ></tui-filter>
    </div>
  </div>
</form>
