<div class="flex justify-around items-center h-screen">
  <div class="sm:w-50 md:w-50 lg:w-1/3">
      <form [formGroup]="form">
          <div class="tui-col_12">
              <div tuiCardLarge
              tuiSurface="flat" >
                  <h3 class="tui-island__title">ورود به حساب کاربری</h3>
                  <p class="tui-island__paragraph">
                    برای وارد شدن به برنامه نام کاربری و رمز عبور خود را وارد نمایید.
                  </p>
                  <div class="tui-island__paragraph tui-island__paragraph_link">

                      <div class="tui-form__row">
                          <p>
                              <tui-input formControlName="email" style="text-align:right" dir="rtl"> نام کاربری خود را وارد نمایید</tui-input>
                          </p>

                      </div>

                      <div class="tui-form__row">
                          <p>
                              <tui-input-password formControlName="password" style="text-align:right">
                                  رمز عبور خود را وارد نمایید
                              </tui-input-password>
                          </p>
                      </div>

                      <div class="tui-form__row">
                          <p>
                              <tui-checkbox-labeled formControlName="remember">
                                  مرا بخاطر بسپار
                              </tui-checkbox-labeled>
                          </p>
                      </div>
                  </div>

                  <div class="tui-island_text-align_right">
                      <a tuiButton type="button" class="tui-form__buttons_align_end" appearance="accent"
                           size="m">
                          ورود
                      </a>
                  </div>


                  <a tuiButton type="button" size="m" class="tui-island__footer-button"
                      appearance="accent">
                      ثبت نام
                  </a>
              </div>


          </div>
      </form>
  </div>

  <div class="hidden lg:block motion-safe:hover:scale-[1.01] transition-all duration-250">
      <div class="flex">
          <img src="Mohaymen-logo-fa222-e1575984168224-modified (1).png" alt="">
          <!-- <h1 class="text-xl font-semibold">لوگو شرکت!</h1> -->
      </div>
  </div>
</div>