<div id="main" class="flex justify-around items-center h-screen">
  <div class="sm:w-50 md:w-50 lg:w-1/3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="tui-col_12">
        <div tuiCardLarge class="tui-island">
          <h3 class="tui-island__title">Sign in</h3>
          <p class="tui-island__paragraph">
            Welcome back! Please enter your credentials to access your account.
          </p>

          @if (errorMessage) {
          <p *ngIf="errorMessage" class="tui-text_error tui-island__paragraph">
            {{ errorMessage }}
          </p>
          }

          <div class="tui-island__paragraph tui-island__paragraph_link">
            <div class="tui-form__row">
              <tui-input formControlName="username">Type a username</tui-input>
            </div>

            <div class="tui-form__row mb-8">
              <tui-input-password formControlName="password">
                Type a password
              </tui-input-password>
            </div>
          </div>

          <!-- <div class="tui-island_text-align_right">
            <button
              tuiButton
              [disabled]="form.invalid || loading"
              class="tui-form__buttons_align_end"
              appearance="primary"
              size="m"
              type="submit"
            ></button>
          </div> -->

          <button
            tuiButton
            type="submit"
            [disabled]="form.invalid || loading"
            type="button"
            size="m"
            class="tui-island__footer-button"
            appearance="primary"
            routerLink="/register"
          >
            {{ loading ? "Logging in..." : "Login" }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div
    class="hidden lg:block motion-safe:hover:scale-[1.01] transition-all duration-250"
  >
    <div class="flex">
      <img src="Mohaymen-logo.png" alt="" />
    </div>
  </div>
</div>
