<div id="main" class="flex justify-around items-center h-screen">
  <div class="main-card flex flex-row p-6 w-50 lg:w-2/3 h-4/5">
    <form
      class="w-full lg:w-2/4 h-full flex flex-col p-6 items-center justify-between"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="w-full">
        <h3 class="tui-island__title">Welcome Back</h3>
        <p class="tui-island__paragraph">Please login to your account</p>
      </div>

      <div class="w-full tui-island__paragraph tui-island__paragraph_link">
        @if (errorMessage) {
        <p
          class="text-red-600 w-full"
          *ngIf="errorMessage"
          class="tui-text_error tui-island__paragraph"
        >
          {{ errorMessage }}
        </p>
        }

        <div class="tui-form__row">
          <tui-input formControlName="username">Type a username</tui-input>
        </div>

        <div class="tui-form__row">
          <tui-input-password formControlName="password">
            Type a password
          </tui-input-password>
        </div>
      </div>

      <button
        tuiButton
        type="submit"
        [disabled]="form.invalid || loading"
        size="l"
        class="w-full"
        appearance="primary"
      >
        {{ loading ? "Logging in..." : "Login" }}
      </button>

      <div class="w-full flex items-center justify-center gap-2">
        <a
          iconStart="@tui.circle-help"
          tuiButton
          size="s"
          appearance="whiteblock"
          href="/support"
          target="_blank"
        >
          Support
        </a>
        <a
          href="/docs"
          target="_blank"
          iconStart="@tui.info"
          tuiButton
          size="s"
          appearance="whiteblock"
        >
          Documentation
        </a>
        <a
          href="{{ github_repo }}"
          target="_blank"
          iconStart="@tui.github"
          tuiButton
          size="s"
          appearance="whiteblock"
        >
          Github
        </a>
      </div>
    </form>

    <!-- image -->
    <div class="w-2/4 hidden lg:block Rimg"></div>
  </div>
</div>
