<h2 tuiTitle>Change Password
    <div tuiSubtitle>if need subtitle edit it else remove</div>
</h2>

<tui-input-password tuiTextfieldSize="m" class="tui-space_top-5" [(ngModel)]="old_pass"
    [tuiTextfieldLabelOutside]="true">
    old password
</tui-input-password>

<tui-input-password tuiTextfieldSize="m" class="tui-space_top-3 tui-space_bottom-5" [(ngModel)]="new_pass"
    [tuiTextfieldLabelOutside]="true">
    new password
</tui-input-password>

<button size="m" tuiButton [loading]="loading" type="button" [disabled]="!hasValid()" (click)="submit()">
    Submit
</button>