<form [formGroup]="form">
  <div class="tui-col_12">
    <!-- <tui-island> -->
    <h3 tuiTitle="m">
      Create New User
      <p tuiSubtitle>create a new user to gain access to the data</p>
    </h3>
    <div class="tui-space_top-5 tui-space_bottom-5">
      <div class="tui-form__row">
        <p>
          <tui-input id="userName" formControlName="userName">
            User Name
          </tui-input>
        </p>
      </div>

      <div class="tui-form__row">
        <p>
          <tui-input id="firstName" formControlName="firstName">
            First Name
          </tui-input>
        </p>
      </div>

      <div class="tui-form__row">
        <p>
          <tui-input id="lastName" formControlName="lastName">
            Last Name
          </tui-input>
        </p>
      </div>

      <div class="tui-form__row">
        <p>
          <tui-input id="email" formControlName="email">
            Type an email
          </tui-input>
        </p>
      </div>

      <div class="tui-form__row">
        <p>
          <tui-input-password id="password" formControlName="password">
            Type a password
          </tui-input-password>
        </p>
      </div>
    </div>

    <button
      tuiButton
      (click)="submit()"
      type="button"
      size="m"
      appearance="primary"
    >
      Register
    </button>
  </div>
</form>
