<div class="flex justify-around items-center h-screen">
  <div tuiCardLarge tuiSurface="elevated">
    <form [formGroup]="signup_form">
      <h3 class="tui-form__header text-center">Create New User</h3>

      <div class="tui-form__row">
        <tui-input formControlName="name" [tuiTextfieldCleaner]="true">
          name
          <input type="text" tuiTextfieldLegacy />
          <span class="tui-required"></span>
        </tui-input>
      </div>

      <div class="tui-form__row">
        <tui-multi-select
          [editable]="false"
          [rows]="1"
          [tuiTextfieldLabelOutside]="true"
          formControlName="role"
        >
          Roles
          <tui-data-list-wrapper
            tuiMultiSelectGroup
            *tuiDataList
            [items]="system_role"
          />
        </tui-multi-select>
      </div>

      <div class="tui-form__row">
        <tui-input formControlName="username" [tuiTextfieldCleaner]="true">
          username
          <input type="username" tuiTextfieldLegacy />
          <span class="tui-required"></span>
        </tui-input>
      </div>

      <div class="tui-form__row">
        <tui-input formControlName="email" [tuiTextfieldCleaner]="true">
          email
          <input type="email" tuiTextfieldLegacy />
          <span class="tui-required"></span>
        </tui-input>
      </div>

      <div class="tui-form__row">
        <tui-input-password
          formControlName="password"
          [tuiTextfieldCleaner]="true"
        >
          password
          <input type="password" tuiTextfieldLegacy />
          <span class="tui-required"></span>
        </tui-input-password>
      </div>

      <div class="tui-form__buttons_align_center">
        <button tuiButton type="submit">Submit</button>
        <button appearance="secondary" type="button" tuiButton>Cancel</button>
      </div>
    </form>
  </div>
</div>
