<div class="leftPanel flex flex-col h-full">
  <app-search-bar></app-search-bar>
  @if (isPanelVisible) {
  <div
    class="card flex flex-col flex-grow"
    tuiCardLarge="compact"
    tuiSurface="elevated"
  >
    <div tuiHeader>
      <div class="flex w-full justify-between mt-1 items-center relative">
        <tui-chip class="font-semibold" appearance="primary">Account</tui-chip>
        <span
          class="absolute left-1/2 transform -translate-x-1/2 font-semibold"
        >
          Nagar Ahmadi
        </span>
        <button tuiButtonClose tuiIconButton (click)="closePanel()">
          Close
        </button>
      </div>
    </div>
    <div class="mt-6 border-t-2"></div>
    <tui-tabs class="tabs" [(activeItemIndex)]="activeItemIndex">
      <button
        class="!font-semibold"
        iconStart="@tui.info"
        tuiTab
        (click)="onTabClick('Properties')"
      >
        Properties
      </button>
      <button
        class="!font-semibold"
        iconStart="@tui.plus"
        tuiTab
        (click)="onTabClick('Neighbors')"
      >
        Neighbors
      </button>
      <button
        class="!font-semibold"
        iconStart="@tui.link"
        tuiTab
        (click)="onTabClick('Relationships')"
      >
        Relationships
      </button>
    </tui-tabs>
    <button
      class="mt-4"
      appearance="secondary"
      size="m"
      tuiButton
      type="button"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pencil"
      >
        <path
          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
        />
        <path d="m15 5 4 4" />
      </svg>
      Edit
    </button>
    <div class="mb-7">
      <tui-chip
        class="font-semibold !rounded-full mt-6"
        appearance="whiteblock"
        size="xs"
        >Account</tui-chip
      >
    </div>
    <!-- The list with remaining height -->
    <ul class="w-full mt-2 mb-4 flex-grow overflow-y-auto">
      @for (item of items; track $index) {
      <li
        class="w-full flex flex-row gap-4 mb-2"
        *ngFor="let i of item.value | keyvalue"
      >
        <p tuiFade class="w-1/2 key text-nowrap font-semibold">
          {{ i.key }}
        </p>
        <p tuiFade class="w-1/2 text-neutral-500 font-semibold">
          {{ i.value }}
        </p>
      </li>
      }
    </ul>
  </div>
  }
</div>

<div class="panel flex h-full flex-row justify-between items-end">
  <div
    class="bottom-panel flex flex-row grow justify-between items-end px-4 pb-4"
  >
    <div class="info-node flex flex-row items-center justify-between px-4">
      <p>All (134)</p>
      <p>Selected (0)</p>
      <button tuiIconButton appearance="flat" iconStart="@tui.maximize-2">
        maximize-2
      </button>
    </div>

    <div class="tools flex flex-col items-end gap-4">
      <div class="bar flex flex-col">
        <button tuiIconButton size="s" appearance="flat" iconStart="@tui.map">
          map
        </button>
        <button
          tuiIconButton
          size="s"
          appearance="flat"
          iconStart="@tui.presentation"
        >
          presentation
        </button>
        <button
          tuiIconButton
          size="s"
          appearance="flat"
          iconStart="@tui.fullscreen"
        >
          full screen
        </button>
        <button
          tuiIconButton
          size="s"
          appearance="flat"
          iconStart="@tui.zoom-in"
        >
          zoom in
        </button>
        <button
          tuiIconButton
          size="s"
          appearance="flat"
          iconStart="@tui.zoom-out"
        >
          zoom out
        </button>
        <button
          tuiIconButton
          size="s"
          appearance="flat"
          iconStart="@tui.percent"
        >
          percent
        </button>
      </div>
      <div class="select-edit flex flex-row items-center justify-cneter p-1">
        <tui-select
          tuiTextfieldSize="s"
          class="w-full"
          [formControl]="select_form"
          [tuiTextfieldLabelOutside]="true"
        >
          Force-based layout
          <input tuiTextfieldSize="s" tuiTextfieldLegacy />
          <tui-data-list-wrapper *tuiDataList [items]="select_items" />
        </tui-select>

        <button>
          <button tuiIconButton size="s" appearance="flat" iconStart="@tui.pen">
            edit
          </button>
        </button>
      </div>
    </div>
  </div>

  <div class="right-panel flex flex-col items-center justify-cneter py-4 pt-1">
    <!-- tab -->
    <tui-tabs
      class="w-full flex justify-center"
      [(activeItemIndex)]="activeRightPanelTab"
    >
      <button iconStart="@tui.workflow" tuiTab>Nodes</button>
      <button iconStart="@tui.cable" tuiTab>Relationships</button>
    </tui-tabs>

    <div
      [style.display]="activeRightPanelTab !== 0 ? 'none' : 'flex'"
      class="w-full flex-col p-4 gap-4"
      id="rp-node"
    >
      <!-- input -->
      <tui-input
        class="w-full"
        [formControl]="filter_text"
        tuiTextfieldSize="m"
        [tuiTextfieldCleaner]="true"
        [tuiTextfieldLabelOutside]="true"
      >
        Filter Categories
        <input tuiTextfieldLegacy type="text" />
      </tui-input>

      <tui-radio-list
        size="s"
        class="w-full"
        [items]="radio_ops"
        [style.flex-direction]="'row'"
        [style.width]="'max-content'"
        [(ngModel)]="redio_target"
      />

      <!-- colors -->
    </div>

    <div
      [style.display]="activeRightPanelTab !== 1 ? 'none' : 'flex'"
      class="flex-col p-4 gap-4"
      id="rp-rela"
    ></div>
  </div>
</div>

<div id="cy"></div>
