#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  font: var(--tui-font-text-ui-l);
  background-color: #dfe5eb;
}

.leftPanel {
  position: relative;
  z-index: 999999;
  width: 30rem;
  // background: #000;
  left: 6rem;
  top: 2rem;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
}

.tools {
  $tool-width: 15rem;

  position: relative;
  right: calc(-1 * 100% + calc($tool-width + 0.7rem));
  transform: translateY(-80%);
  z-index: 999999;
  width: $tool-width;

  .bar {
    padding: 0.3rem;
    width: calc(var(--tui-height-s));
    border-radius: var(--tui-radius-s);
    background-color: #fff;

    button {
      // --t-size: calc(var(--tui-height-s) + 0.5rem);

      &[tuiIconButton][data-size="s"]:not(
          [tuiIconButton][data-appearance="icon"]
        ):not([tuiIconButton][data-appearance="link"]):before {
        // font-size: 1.2rem;
        color: black;
      }
    }
  }

  .select-edit {
    border-radius: var(--tui-radius-s);
    background-color: #fff;

    button:before {
      color: black;
    }

    tui-select {
      width: calc($tool-width - var(--tui-height-s));
    }
  }
}

.card {
  margin-top: 1rem;
  background-color: #fff;
  flex-grow: 1;
  display: block !important;
}

.tabs button {
  font-weight: 400;
}
